@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Only prevent horizontal scroll, allow vertical scroll */
}

.cutomcontainer{
   width: 100vw;
  min-height: 10vh;
  background-color: #0d0d0d; /* Very dark background */
  background-image: radial-gradient(circle, #2e2e2e 1px, transparent 1px), radial-gradient(circle, #2e2e2e 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.vertical-timeline-element-date {
  color: black !important;
}

.timeline-item-date {
    color: black !important;
}
