@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Only prevent horizontal scroll, allow vertical scroll */
}

.cutomcontainer{
   width: 100vw;
  min-height: 20vh;
  background: linear-gradient(to right, #c85fb8, #ffffff);
}

.vertical-timeline-element-date {
  color: black !important;
}

.timeline-item-date {
    color: black !important;
}
